name: codecov

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  codecov:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install dependencies
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Extract coverage
        run: |
          cargo install cargo-tarpaulin
          cargo tarpaulin --out Xml
      - uses: codecov/codecov-action@v5
        with:
          use_oidc: true
